---
- Quick Links:
    - GitLab:
        - icon: mdi-gitlab
          href: https://gitlab.internal.local
    - ArgoCD Main:
        - icon: mdi-ship-wheel
          href: https://argocd.internal.local
    - Confluence:
        - icon: mdi-book-open-page-variant
          href: https://confluence.internal.local
    - Grafana:
        - icon: mdi-chart-line
          href: https://grafana.internal.local