---
- Internal Tools:
    - Internal GitLab:
        - icon: mdi-gitlab
          href: https://gitlab.internal.local
    - Internal Registry:
        - icon: mdi-docker
          href: https://registry.internal.local
    - Documentation:
        - icon: mdi-book-open-page-variant
          href: https://docs.internal.local

- DevOps:
    - OpenShift Console:
        - icon: mdi-kubernetes
          href: https://console.openshift.local
    - ArgoCD:
        - icon: mdi-ship-wheel
          href: https://argocd.internal.local
    - Nexus:
        - icon: mdi-package-variant
          href: https://nexus.internal.local

- Monitoring:
    - Grafana:
        - icon: mdi-chart-line
          href: https://grafana.internal.local
    - Prometheus:
        - icon: mdi-fire
          href: https://prometheus.internal.local