---
- Core GitOps:
    - GitLab GitOps Project:
        href: https://gitlab.internal.local/your-team/gitops
        description: Main GitOps repository
        icon: mdi-gitlab

    - ArgoCD Main:
        href: https://argocd.internal.local
        description: Main Argo CD instance (tracks the GitOps repo)
        icon: mdi-ship-wheel
        widget:
          type: argocd
          url:  https://argocd.internal.local
          username: "{{HOMEPAGE_VAR_ARGOCD_TOKEN}}"

    - GitLab Team Group:
        href: https://gitlab.internal.local/groups/your-team
        description: Team group (repo count)
        icon: mdi-gitlab
        widget:
          type: customapi
          url: "https://gitlab.internal.local/api/v4/groups/your-team/projects?per_page=100"
          method: GET
          headers:
            PRIVATE-TOKEN: "{{HOMEPAGE_VAR_GITLAB_TOKEN}}"
          mappings:
            - label: Repos
              format: size

- Documentation:
    - Confluence:
        href: https://confluence.internal.local
        description: Team documentation
        icon: mdi-book-open-page-variant

- Monitoring:
    - Grafana Dashboard:
        href: https://grafana.internal.local/d/XXXX/main-dashboard
        description: Main operational dashboard
        icon: mdi-chart-line

- Internal Tools:
    - VLAN Manager:
        href: http://vlan-manager.internal.local:8000
        description: Network VLAN management tool
        icon: mdi-network

    - Cluster Navigator:
        href: http://navigator.internal.local:8001
        description: OpenShift cluster navigation tool
        icon: mdi-compass-outline

- Management Clusters:
    - mgmt-01 Console:
        href: https://console-mgmt01.apps.internal.local
        description: OpenShift console
        icon: mdi-kubernetes

    - mgmt-01 Argo:
        href: https://argocd-mgmt01.apps.internal.local
        description: Cluster-local Argo instance
        icon: mdi-ship-wheel

    - mgmt-02 Console:
        href: https://console-mgmt02.apps.internal.local
        description: OpenShift console
        icon: mdi-kubernetes

    - mgmt-02 Argo:
        href: https://argocd-mgmt02.apps.internal.local
        description: Cluster-local Argo instance
        icon: mdi-ship-wheel

    - mgmt-03 Console:
        href: https://console-mgmt03.apps.internal.local
        description: OpenShift console
        icon: mdi-kubernetes

    - mgmt-03 Argo:
        href: https://argocd-mgmt03.apps.internal.local
        description: Cluster-local Argo instance
        icon: mdi-ship-wheel

    - mgmt-04 Console:
        href: https://console-mgmt04.apps.internal.local
        description: OpenShift console
        icon: mdi-kubernetes

    - mgmt-04 Argo:
        href: https://argocd-mgmt04.apps.internal.local
        description: Cluster-local Argo instance
        icon: mdi-ship-wheel

    - mgmt-05 Console:
        href: https://console-mgmt05.apps.internal.local
        description: OpenShift console
        icon: mdi-kubernetes

    - mgmt-05 Argo:
        href: https://argocd-mgmt05.apps.internal.local
        description: Cluster-local Argo instance
        icon: mdi-ship-wheel

    - mgmt-06 Console:
        href: https://console-mgmt06.apps.internal.local
        description: OpenShift console
        icon: mdi-kubernetes

    - mgmt-06 Argo:
        href: https://argocd-mgmt06.apps.internal.local
        description: Cluster-local Argo instance
        icon: mdi-ship-wheel

- DC Systems:
    - Cisco UCS:
        href: https://ucs.internal.local
        description: UCS Manager
        icon: mdi-server

    - NetBox:
        href: https://netbox.internal.local
        description: IPAM / DCIM
        icon: mdi-ip-network

    - OpenManage:
        href: https://openmanage.internal.local
        description: Dell OpenManage
        icon: mdi-server-network

    - OneView:
        href: https://oneview.internal.local
        description: HPE OneView
        icon: mdi-server-network