---
title: Team Hub
theme: dark
color: zinc

headerStyle: underlined
hideVersion: true
useEqualHeights: true
lazyLoad: true
statusStyle: dot

# Force use of local icons (no CDN) for air-gapped environments
iconStyle: theme

background:
  image: /backgrounds/v1-background-dark.jpg
  blur: sm
  saturate: 60
  brightness: 70
  opacity: 35

layout:
  Core GitOps:
    style: row
    columns: 2
  DevOps:
    style: row
    columns: 3
  Internal Tools:
    style: row
    columns: 3
  Management Clusters:
    style: row
    columns: 4
  DC Systems:
    style: row
    columns: 4