---
title: Team Hub
theme: dark
color: slate

headerStyle: underlined
hideVersion: true
useEqualHeights: true

background:
  image: /backgrounds/v1-background-dark.jpg
  blur: sm
  saturate: 60
  brightness: 70
  opacity: 35

layout:
  Core GitOps:
    style: row
    columns: 3
  Documentation:
    style: row
    columns: 3
  Monitoring:
    style: row
    columns: 3
  Internal Tools:
    style: row
    columns: 3
  Management Clusters:
    style: row
    columns: 4
  DC Systems:
    style: row
    columns: 4